html {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Campton', sans-serif;
    font-weight: 300;
    color: $darkGray;
}

.container {
    padding: 0;
}

.inner-container {
    max-width: 1206px !important;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

header {
    background: $white;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    font-weight: 400;
}

// page //

.page {
    position: relative;
}

.page::before {
    content: '';
    position: absolute;
    top: 1380px;
    width: 478px;
    height: 714px;
    background-image: url(../files/images/backgrounds/plant.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
        content: none;
    }
}

.page::after {
    content: '';
    position: absolute;
    top: 1640px;
    right: 0;
    width: 238px;
    height: 407px;
    background-image: url(../files/images/backgrounds/clips.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
        content: none;
    }
}

// background
.bg-gray {
    background-color: $lightGray;
}

.bg-light {
    background-color: #f1f4f5 !important;
}

.bg-red {
    background-color: $red;
}

.bg-card {
    background-image: url(../files/images/backgrounds/card.png);
    background-repeat: no-repeat;
    background-position: 105% 100%;
}

.bg-plant {
    background-image: url(../files/images/backgrounds/plant.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;

    @include media-breakpoint-down(lg) {
        background-image: none;
    }
}

.bg-clip {
    background-image: url(../files/images/backgrounds/clips.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;

    @include media-breakpoint-down(lg) {
        background-image: none;
    }
}

.bg-objects {
    background-image: url(../files/images/backgrounds/plant.png), url(../files/images/backgrounds/clips.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 49%, 100% 52%;
    z-index: 20;

    @include media-breakpoint-down(lg) {
        background-image: none;
    }
}
//border
.rounded {
    border-radius: 6px !important;
}

.radius-2 {
    border-radius: 2px !important;
}
//font size
.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-28 {
    font-size: 28px !important;
}

.font-36 {
    font-size: 36px !important;
}

.font-62 {
    font-size: 62px !important;
}

.font-72 {
    font-size: 72px !important;
}
// font weight
.font-300 {
    font-weight: 300 !important;
}

.font-700 {
    font-weight: 700 !important;
}

//font color
.text-black {
    color: $black !important;
}

.text-red {
    color: $red !important;
}

.text-gray {
    color: $darkGray !important;
}
// font decor
.text-underlined {
    text-decoration: underline !important;
}

.text-normal {
    text-decoration: none !important;
}

.ls-1 {
    letter-spacing: 1px;
}

// spacing
.mb-6 {
    margin-bottom: 4rem !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

@include media-breakpoint-down(md) {
    body {
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .ghost {
        display: none;
    }
}

.elastic {
    @include media-breakpoint-down(md) {
        padding: 0 !important;
    }
}
